.donate-page {
  background: #f2f2f2;
}

.donate-container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
}

.block-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #e67e22;
}

.donate-block {
  padding: 25px;
  margin-bottom: 40px;
  border-radius: 16px;
}

.ua,
.ua-title {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
}

.ua-inline {
  font-size: 13px;
  opacity: 0.7;
}

/* INPUT як у словниках */

.idea-form input,
.idea-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 2px solid #ddd;
  font-size: 16px;
}

.idea-form input:focus,
.idea-form textarea:focus {
  outline: none;
  border-color: #e67e22;
}

/* КНОПКА як у тебе */

.idea-form button,
.donate-btn {
  background: #e67e22;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.progress-bar {
  height: 16px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 15px 0;
}

.progress-fill {
  height: 100%;
  background: #e67e22;
  transition: 0.4s;
}

/* supporter плитки */

.supporter {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  border-left: 4px solid #e67e22;
}
