/* ============================= */
/* ===== REVIEW ONLY =========== */
/* ============================= */

.review-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-bottom:40px;
}

/* Card size like Spelling Bee */

.card {
    width: 320px;
    height: 380px;
    margin: 30px auto;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width:100%;
    height:100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position:relative;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position:absolute;
    width:100%;
    height:100%;
    border-radius:22px;
    backface-visibility:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.card-front {
    background:white;
    color:black;
    border:4px solid #e67e22;
}

.card-back {
    background:#e67e22;
    color:white;
    transform:rotateY(180deg);
}

.card img {
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:12px;
    margin-bottom:15px;
}
