body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    text-align: center;
    background: #fdf6e3;
}

header {
    background: black;
    padding: 20px;
}

.subtitle {
    color: white;
}

nav {
    background: #ff9f1c;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

.card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 0 #ff9f1c;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #ff9f1c;
    font-weight: bold;
    cursor: pointer;
}

footer {
    margin-top: 40px;
    padding: 20px;
}
