body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f1f1f, #2a2a2a);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

select {
    width: 50%;
    max-width: 400px;
    padding: 12px;
    border-radius: 14px;
    border: 3px solid #e67e22;
    background: #f4f4f4;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    cursor: pointer;
}

.review-wrapper {
    margin-top: 30px;
}

.card {
    width: 300px;
    height: 360px;
    margin: 20px auto;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-front {
    background: white;
    color: black;
    border: 4px solid #e67e22;
}

.card-back {
    background: #e67e22;
    color: white;
    transform: rotateY(180deg);
}

.card img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 12px;
}

#speakBtn {
    margin-top: 15px;
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-buttons {
    margin-top: 20px;
}

.nav-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #e67e22;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nav-buttons button:hover {
    background: #cf711f;
}

a {
    display: block;
    margin-top: 20px;
    color: #e67e22;
    text-decoration: none;
}
button {
    padding: 12px 22px;
    border-radius: 14px;
    border: none;
    background: #e67e22;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 0 #c96a1c;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0 #c96a1c;
}
